<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search engine</title>
    <style>
      .live-search-box {
        width: 300px;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Web Search Engine</h1>
        <p>Input keyword into the search bar to get the best match websites in the database</p>
      </div>
    </header>
    </div>    
      <form action="/output" method = "POST">
        <p>Query <input type = "text" name = "query" /></p>
        <p>Additional Info <input type = "text" name = "add_info" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>
    </div>
  </body>
</html>